html{
    color: maroon;
    background-image: url(../images/cas-building.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
}