::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(180, 180, 180);
  border-radius: 25px;
}

::-webkit-scrollbar-button {
  height: 10px;
}

/* ::-webkit-scrollbar-track {
  border-radius: 25px;
} */

::-webkit-scrollbar-track-piece {
  background-color: rgb(213, 213, 213);
  border-radius: 25px;
}
.search-bar {
  position: sticky;
  padding-top: 20px;
  padding-right: 30px;
}

.student-details thead {
  position: sticky;
  top: 0;
  background-color: white;
}

.student-details {
  overflow: auto;
  height: 75%;
}

.sort-btn {
  background-color: rgb(224, 224, 224);
  color: white;
}

.sort-btn:hover {
  background-color: white;
  color: white;
}

.sort-by {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  padding: 0 1px;
  padding-bottom: 3px;
}
span {
  padding-right: 10px;
}

.drop-down-container {
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.drop-up {
  padding: auto;
}

.search:focus {
  box-shadow: none;
}

.drop-btn:focus {
  box-shadow: none;
  border-color: #7b1113;
}
