@import "custom";

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: $gray-300;
  border-radius: 24px;
}

::-webkit-scrollbar-thumb {
  background: $gray-500;
  border-radius: 24px;
}

::-webkit-scrollbar-thumb:hover {
  background: $gray-600;
}

.table-fixed-head {
  thead {
    box-shadow: inset 0 -2px currentColor;
    @extend .bg-white;
  }

  & > :not(:first-child) {
    @extend .border-top-0;
  }
}
